<% if @post.errors.present? %>
  <p>
    <%= @post.errors.full_messages.join(', ')%>
  </p>
<% end %>
<%= form_with model: @post, local: true do |f| %>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "Submit" %>
<% end %>